@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* ************* General ************* */
body {
    margin: 0;
    font-family: 'Open Sans';
}

a .far, a.fab {
    color: gray;
}

a:visited .far, a:visited .fab {
    color: gray;
}

/* ************* Navigation ************* */
.nav-container {
    display: flex;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: white;
}

.nav-content-container {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
    padding: 26px 40px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 500px){
    .nav-content-container {
        padding: 10px;
    }

    .nav-content-search input {
        width: 60px;
    }
}

.instagram-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.instagram-link .fa-instagram {
    font-size: 31px;
    margin-right: 0.5em;
}

.instagram-link img {
    height: 31px;
    padding-left: 0.5em;
    border-left: 1px solid black;
}

.nav-content-right,
.nav-content-left {
    position: relative;
}

.nav-content-middle {
    position: relative;
}

.nav-content-right {
    margin-left: 1em;
}

.nav-content-search {
    display: flex;
}

.nav-content-search input {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    outline: 0;
    padding: 0 30px;
    line-height: 20px;
}

.nav-content-search .search-icon {
    position: absolute;
    top: calc(50%);
    transform: translateY(-50%);
    font-size: 80%;
    cursor: pointer;
}

.nav-content-search .search-icon-magnifier {
    left: 10px;
}

.nav-content-search .search-icon-clear {
    right: 10px;
}

.nav-content-right a {
    margin-right: 1em;
    font-size: 1.5em;
}

@media screen and (max-width: 650px){
    .instagram-link img {
        display: none;
    }

    .nav-content-right a {
        margin-right: 0.2em;
    }
}

/* ************* Content ************* */
.content-container {
    max-width: 1010px;
    padding: 20px;
    margin: 0 auto;
}

.content-header {
    display: flex;
    align-items: center;
}

.content-header-avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-right: 40px;
    flex: 0 0 75px
}

.content-header-title {
    align-self: center;
    font-size: 32px;
}

.content-main {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.content-thumb {
    width: calc(33% - 10px);
    background-color: #ddd;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 501px){
    .content-thumb:nth-child(3n) {
        width: 33%;
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) and (min-width: 351px){
    .content-thumb {
        width: calc(50% - 10px);
    }

    .content-thumb:nth-child(2n) {
        width: 50%;
        margin-right: 0;
    }
}

@media screen and (max-width: 350px){
    .content-thumb {
        width: 100%;
        margin-right: 0 !important;
    }
}

.content-thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content-thumb:last-child {
    margin-right: 0;
}

/* ************* Footer ************* */
.footer-container  {
    display: flex;
    margin-top: 20px;
}

.footer-content {
    width: 100%;
    max-width: 1010px;
    height: 100%;
    margin: 0 auto;
    padding: 26px 40px;
    display: table;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

.footer-nav li {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    color: #003569;
    font-size: 12px;
}

.footer-copyright {
    float: right;
    color: #999;
}