@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* ************* General ************* */
body {
    margin: 0;
    font-family: 'Open Sans';
}

.link-image {
    display: block;
    overflow: hidden;
    text-indent: 110%;
}

/* ************* Navigation ************* */
.nav-container {
    width: 100%;
    display: flex;
    
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: white;
}

.nav-content-container {
    width: 1010px;
    margin: 0 auto;
    padding: 26px 40px;
    
    display: table;    
}

.nav-content-right,
.nav-content-left {
    width: 40%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.nav-content-middle {
    width: 20%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.nav-content-left-link {
    background-image: url(images/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -179px;
    background-size: 460px 421px;
    height: 35px;
    width: 176px;
    float: left;
}

.nav-content-middle-input {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    outline: 0;
    padding: 3px 10px 3px 26px;
    line-height: 20px;
    width: calc(100% - 38px);
}

.nav-content-middle-input-search-icon {
    left: 11px;
    position: absolute;
    top: 13px;
    z-index: 2;
    background-size: 460px 421px;
    background-position: -311px -203px;
    background-image: url(images/sprite.png);
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
}

.nav-content-middle-input-search-clear {
    right: 4px;
    top: 7px;
    position: absolute;
    background-image: url(images/sprite.png);
    background-repeat: no-repeat;
    background-position: -438px -136px;
    background-size: 460px 421px;
    height: 20px;
    width: 20px;
}

.nav-content-right-action-wrapper {
    float: right;
    margin-left: 30px;
}

.nav-content-right-action {
    background-image: url(images/sprite.png);
    background-repeat: no-repeat;
    background-size: 460px 421px;
    height: 24px;
    width: 24px;
}

.nav-content-right-action-people {
    background-position: -175px -397px;
}

.nav-content-right-action-profile {
    background-position: -100px -397px;
}

.nav-content-right-action-activity {
    background-position: -413px 0;
}

/* ************* Content ************* */
.content-container {
    width: 1010px;
    padding: 20px;
    margin: 0 auto;
}

.content-header {
    display: flex;
}

.content-header-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    border: 1px solid #ddd;
    margin-right: 40px;
}

.content-header-title {
    align-self: center;
    font-size: 32px;
}

.content-main {
    margin-top: 40px;
    float: left;
    /* display: flex;
    flex-direction: column; */
}

.content-thumb-container {
    margin-bottom: 10px;
    float: left;
}

.content-thumb {
    width: 330px;
    height: 312px;
    background-color: #ddd;
    margin-right: 10px;
    float: left;
    overflow: hidden;
}

.content-thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content-thumb:last-child {
    margin-right: 0;
}

/* ************* Footer ************* */
.footer-container  {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.footer-content {
    width: 1010px;
    height: 100%;
    margin: 0 auto;
    padding: 26px 40px;
    display: table;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

.footer-nav li {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    color: #003569;
    font-size: 12px;
}

.footer-copyright {
    float: right;
    color: #999;
}